<div class="post" id="Contact">
                                        <h1 align="center">Contact Us</h1>
                                        <div class="entry">
     
                                         <table border="0" width="100%">
                                        <tr>
                                        <td ><p>
                                                <b>Name:</b> Sudhakar<br/>
                                                <b>Designation:</b>Founder of Satya Exports <br/>
                                                <b>Mobile:</b> +91-98490 79619<br/>    
                                                <b>email:</b>sudhakar@satyaexports.com</P>
                                        </td>
                                        <td >
                                                <p>
                                                <b>Name:</b> Murali<br/>
                                                <b>Mobile:</b> +91-9246 431673<br/>    
                                                <b>email:</b>murali@satyaexports.com</P>
                                        </td>
                                        </tr>

                                        <tr>
                                        <td >
                                                <p>
                                                <b>Name:</b> Shyam<br/>
                                                <b>Mobile:</b> +91-9866 010167<br/>    
                                                <b>email:</b>shyam@satyaexports.com</P>
                                        </td>
                                        <td >
                                                <p>
                                                <b>Name:</b> Vasanth<br/>
                                                <b>Mobile:</b> +91-9246 782112<br/>    
                                                <b>email:</b>vasanth@satyaexports.com</P>
                                        </td>
                                        </tr>
                        
                <tr><td >
                <span style="color:red;font-weight:bold">SATYA EXPORTS UNIT-I</span><br/>Plot-470 to 481,<br/>APIIC Growth Center,<br/>GundlaPalli,<br/>Maddipadu(M),<br/>Prakasam Dist,<br/>Andhra Pradesh,<br/>India<br/>Ph: +91-9849079619<br/>
                </td>
                <td >
                <span style="color:red;font-weight:bold">SATYA EXPORTS UNIT-II</span><br/>Plot No's-20 & 21,<br/>Building Projects SEZ.,<br/>Growth Centre,
                <br/>Annangi(V),<br/>Maddipadu(M),<br/>Prakasam Dist,<br/>Andhra Pradesh,<br/>India
                </td>
                </tr>
                </table>                        
        </div>
</div>
</div>                