		<!-- end #menu -->
		<div id="splash"><img src="/assets/image2.jpg" width="980" height="300" alt="" /></div>
		
		<div id="page">

				<div class="contentbg">
					
					<div class="post" id="About">
						<h2 class="">Welcome to Satya Exports</h2>
						<div class="entry">
							<p><b>Satya Exports</b> has made a top notch in the granite industry with its variety of granites procured.We are able to quench the requirements of granite for designers, retailers and fabricators reliably catering to their ever changing designs and imaginations in exquisite colors and quality based on the customer requirement. We have a brand name in exporting granites. </p>
	 						We offer services like <br/> 

	<table border="0" width="100%">
	<tr>
	<td width="50%">
	<ul>
	<li>Dressing</li>
	<li>Cutting</li>
	<li>Polishing of Granites Colour-Black</li>


	<li>Galaxy</li>
	<li>MoonWhite</li>
	<li>SilverPearl</li>


	<li>BlackPearl</li>
	<li>FlashBlue</li>
	<li>AbsoluteBlack</li>
	</ul>
	</td>	
	<td width="50%">
	<ul>
	<li>TanBrown</li>
	<li>SurfGreen</li>
	<li>JasmineWhite</li>


	<li>AshokaBrown</li>
	<li>CandaBrown</li>
	<li>Candayellow</li>


	<li>IconBrown</li>
	<li>SpiceBlack</li>
	<li> Saffire Blue</li>

	</ul>

	</td>
	</tr>
	</table>
	 				<ol>
					<li><b>Nature of Business</b>: manufacturer of Granites Gangsaw Slabs:</li>
					<li>Year of Establishment-oct 28 th2009:</li>

						</div>
					</div>
