<div class="post" id="Feedback">
					<h1 align="center">To order fill the below form </h1>                                                                   
				<div class="entry">

 <form id="contact_form" method="post" action="">
	    <p>Name:<br />
	    <input type="text" name="name" class="" value="" placeholder="Enter your name" required/>
	    </p>
	    <p>Email: <br />
	    <input type="email" name="email" class="" value="" placeholder="Enter your email" required />
	    </label></p>
	    <p>Message: <br />
	    <textarea name="message" class="textarea" required placeholder="Place your Order" cols="45" rows="5"></textarea>
	    </label></p>
	    <p><input type="submit" name="submit" class="button" value="Submit" /></p>
 </form>

				
				</div>
			</div>
	0
	</div>

	</div>